!.gitkeep
!.gitignore

*.*~
*.iml
*.log
*.swp
*.tfstate
*.tfstate.backup
.DS_Store
.idea
.terraform
node_modules
vendor
gcp_id_rsa
token_id_rsa
certs
keys
logs
.env
.venv
.vscode
airflow.cfg
airflow.db
unittests.cfg
venv
__pycache__
.pytest_cache
.coverage
.ipynb_checkpoints
*.pyc
.tox